@import '../../styles/styles.scss';

.projects-container {
    width: 80%;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 5%;
}
.projects-wrapper {
    @include dFlex (row, space-between, center);
    flex-wrap: wrap;
}
.project {
    width: 30%;
    height: 12.5rem;
    cursor: pointer;
    margin-bottom: 3%;
    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        transition: all 0.5s ease-in;
        &:hover {
            border: 3px solid $primary;
            transform: scale(1.07);
        }
    }
}