@import '../../styles/styles.scss';

.scrollToTopButton {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: 50%;
    width: 3rem;
    width: clamp (2.5rem , 3vw, 3rem);
    height: 3rem;
    height: clamp (2.5rem , 3vw, 3rem);
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $lightGrey;
    }
  }

  @media (max-width: 1200px) {
    .scrollToTopButton {
      width: 2.5rem;
      height: 2.5rem;
    }
  }