@import '../../styles/styles.scss';

.hero-container {
    @include dFlex (row, space-between, center);
    margin: auto;
    margin-top: 7%;
    margin-bottom: 3%;
    width: 80%;
    flex-wrap: wrap;
}
.left-side, .right-side {
    flex-grow: 1; 
}
.left-side {
    width: 40rem;
}
.name {
    background: linear-gradient(to right top, #ac4efa, #c267f9, #d47ff9, #e398f9, #f0b1fb, #f7b3f2, #fcb6ea, #ffbae3, #ffa9c5, #ff9e95, #ffa15b, #feb000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title {
    font-size: 2.5rem;
    margin-bottom: 3%;
}
.subtitle {
    font-size: 1.25rem;
    letter-spacing: 0.3px;
    line-height: 2rem;
    margin-bottom: 3%;
}
.right-side {
    width: 20rem;
}
.img-wrapper {
    margin-top: -4%;
    width: 100%;
    img {
        width: 100%;
    }
}

.btns-wrapper {
   display: flex;
   align-items: center;
   gap: 5%;
   margin-top: 5%;
}
.connect-btn, .resume-btn {
    height: 3rem;
    padding: 1%;
    transition: all 0.5s ease-in-out;
    a {
        color: $white;
        text-decoration: none;
    }
}

