@import '../../styles/styles.scss';

.logo-wrapper {
    width: 8rem;
    width: clamp(7rem, 3vw, 8rem);
    position: relative;
    &::after {
        content: '';
        top: 90%;
        left: 50%;
        position: absolute;
        width: 80%;
        height: 0.2rem;
        border-radius: 3rem;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: all 0.8s ease-in-out;
        background-color: $primary;
    }
}
.logo-wrapper img {
    width: 100%;
    cursor: pointer;
}