@import '../../styles/styles.scss';

.logo-wrapper {
    width: 8rem;
    position: relative;
    &::after {
        content: '';
        top: 90%;
        left: 50%;
        position: absolute;
        width: 4.5rem;
        height: 0.2rem;
        border-radius: 3rem;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: all 0.8s ease-in-out;
        background-image: linear-gradient(to right top, #ac4efa, #c267f9, #d47ff9, #e398f9, #f0b1fb, #f7b3f2, #fcb6ea, #ffbae3, #ffa9c5, #ff9e95, #ffa15b, #feb000);
    }
    &:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
}
.logo-wrapper img {
    width: 100%;
    cursor: pointer;
}