@import '../../styles/styles.scss';

.about-container {
    width: 80%;
    margin: 0 auto;
    color: $primary;
    text-align: center;
    color: $primary;
}
.title {
    text-align: center;
    font-size: 1.8rem;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    margin-bottom: 5%;
}
.text {
    font-size: 1rem;
    font-size: clamp(0.3rem, 3vw, 1rem);
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 1.5rem;
}
.skills {
    @include dFlex(row, space-around, center);
    width: 100%;
    margin: auto;
    margin-top: 5%;
    gap: 3%;
    img {
        width: 10rem;
        width: clamp(5rem, 3vw, 10rem);
        cursor: pointer;
        transition: transform 0.3s ease-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}

@media (max-width: 1200px) {
    .about-container {
        width: 95%;
    }
    .skills {
        width: 70%;
        flex-wrap: wrap;
        img {
            width: 6rem;
            margin-bottom: 7%;
        }
    }
    
}
@media (max-width: 768px) {
    .skills {
        img {
            width: 3rem;
            margin-bottom: 7%;
        }
    }
    
}