@import '../../styles/styles.scss';

.contact-container {
    width: 80%;
    margin: 0 auto;
    height: auto;
    color: $primary;
}
.title {
    text-align: center;
    font-size: 1.8rem;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    margin-bottom: 5%;
}
.contact-wrapper {
    @include dFlex (row, space-between, center);
    gap: 10%;
    margin-top: 10%;
}
.contact-info {
    width: 30rem;
    margin-top: -20%;
}
.contact-title {
    font-size: 1.8rem;
    font-size: clamp(1.4rem, 3vw, 1.8rem);
    margin-bottom: 5%;
    color: $primary;
}
.contact-text {
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    margin-bottom: 10%;
    line-height: 1.5;
}
.contact-data {
    @include dFlex (row, 0, center);
    width: 60%;
    gap: 5%;
    margin-bottom: 3%;
    flex-wrap: wrap;
    cursor: pointer;
    .icon svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    a {
        text-decoration: none;
        color: $primary;
    }
    .data {
        text-align: left;
        font-size: 1.1rem;
        font-size: clamp(0.8rem, 3vw, 1.1rem);
    }
}
.contact-form {
    width: 40rem;
}

@media (max-width: 1200px) {
    .contact-container {
        width: 95%;
        text-align: center;
    }
    .contact-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .title {
        display: none;
    }
    .contact-title {
        margin-top: 10%;
    }
    .contact-data {
        margin: auto;
    }
}