@import '../../styles/styles.scss';

.header-container {
    @include dFlex(row, space-between, center);
    width: 80%;
    margin: 2% auto;
    // * {
    //     border: 1px solid red;
    // }
}

@media (max-width: 1200px) {
    .header-container {
        width: 95%;
    }
    .btn {
        display: none;
    }
}