@import '../../styles/styles.scss';

.navbar-wrapper {
    width: 28rem;
}
.hamburger {
    display: none;
}
.navbar {
    @include dFlex(row, center, center);
    gap: 5%;
    list-style: none;
}
.navbar li {
    color: $primary;
    cursor: pointer;
    font-size: clamp(0.8rem, 3vw, 1.25rem);
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 2% 0;
    position: relative;
    &::after {
        content: '';
        top: 100%;
        left: 50%;
        position: absolute;
        width: 2rem;
        height: 0.2rem;
        border-radius: 3rem;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: all 0.8s ease-in-out;
        background-color: $primary;
    }
    &:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
}

@media (max-width: 1200px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        top: 4%;
        font-size: 1.8rem;
    }
    .close {
        color: red;
        z-index: 1000;
    }
    .navbar-wrapper {
        width: 19rem;
    }
    .navbar {
        position: fixed;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        top: 0;
        right: 0;
        padding: 5% 0;
        width: 30%;
        height: 100vh;
        background-color: $primary;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        z-index: 100;
        a {
            color: $white;
        }
    }
    .navbar-open {
        transform: translateX(0);
    }
}
@media (max-width: 768px) {
    .hamburger {
        top: 4%;
        right: 3.5%;
        font-size: 1.5rem;
    }
    .navbar {
        width: 100%;
        padding: 5% 60%;
    }
    .close {
        color: red;
        z-index: 100;
    }
}