@import '../../styles/styles.scss';

.connect-btn {
    height: 3rem;
    width: 13rem;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 3rem;
    padding: 1%;
    border: none;
    font-weight: 600;
    color: $primary;
    background-image: linear-gradient(to right top, #ac4efa, #c267f9, #d47ff9, #e398f9, #f0b1fb, #f7b3f2, #fcb6ea, #ffbae3, #ffa9c5, #ff9e95, #ffa15b, #feb000);
    // color: $white;
    transition: all 0.5s ease-in-out;
    font-family: "Montserrat", sans-serif;
    &:hover {
        transform: scale(1.05);
        border: 2px solid $pink;
    }
} 